<div class="alert alert-block alert-info">
Author:<br>Felix Gonzalez, P.E. <br> Adjunct Instructor, <br> Division of Professional Studies <br> Computer Science and Electrical Engineering <br> University of Maryland Baltimore County <br> fgonzale@umbc.edu
</div>

This notebook provides an overview of some basic concepts in Python Programming Language. Python is an object-oriented, high-level programming language with integrated dynamic semantics primarily for web and app development. Is relatively simple, it's easy to learn since it requires a unique syntax that focuses on readability. Supports the use of modules and packages, programs can be designed in a modular style and code can be reused across a variety of projects. Other characteristics include:

- Open source/free: no need to worry about licences,
- Cross-platform: Can be used with Windows/Macs OS/Linux – even Android and iOS!
- Full-featured Packages: If there’s something you want to do, there’s probably a package out there to help you
- Code Portability: With most code, it can run unaltered on a plethora of computers so long as all the required modules are supplied
- Large and Growing Community: People from all fields from Data Science to Physics are coding in Python, creating a diverse and rich community of experts all over.

# Table of Contents
[Tips and Shortcuts](#Tips-and-Shortcuts)

[Objects](#Objects)

[Variables](#Variables)

[Variable Naming Conventions and Naming Styles](#Variable-Naming-Conventions-and-Naming-Styles)

[Operations with Variables](#Operations-with-Variables)

[CASTING: Specifying Data Type](#CASTING:-Specifying-Data-Type)

[Working With Strings](#Working-With-Strings)

[Command-line String Input() Function](#Command-line-String-Input()-Function)

[Python Operators](#Python-Operators)

[Conditions, Logical Operators, If statements and Loops](#Conditions,-Logical-Operators,-If-statements-and-Loops)

[Modules, Packages, and Libraries](#Modules,-Packages,-and-Libraries)

# Tips and Shortcuts
[Return to Table of Contents](#Table-of-Contents)

#### Important Tips:
- There are various types of Cells in Jupyter Notebooks:
- "Markdown" cell you can put text with explanations
- "Code" cell allows you to write Python code and run it.
- To edit a Jupyter Notebook cell double click.
- Be careful with quotes especially when handling Text and Strings. In Python dobule quotes "" or single quotes ' ' can be used in various functions. However, they need to be alternated when they are used within a function that requires them. More on this later. 
- <b>DOCUMENTATION</b> of a module/library/packages will be extremely important. During the class we will be using various Python libraries and accessing the documentation to learn about the included functions and parameters.


#### Shortcuts
- Shift+enter: Runs a cell.
- Shift+Tab: Access <b>documentation</b> of a function. 

####  Commenting
Allows you to add a comment within a Code cell. The comment does not run code and is used for documentation purposes.

In [1]:
# In a cell, when you put the "#" character, the rest is accepted as comment
# This is a comment
# This is another comment.

In [2]:
# If you are going to write a long comment, you don't have to put # in the beginning of each line
# you can use the following option (called "docstring")
# which is also very useful if you are going to copy and paste
# some long text
'''
This text is in a comment
So is this text
Text text text text
Comment comment comment
'''

'\nThis text is in a comment\nSo is this text\nText text text text\nComment comment comment\n'

# Objects
[Return to Table of Contents](#Table-of-Contents)

Objects are chunks of code that are wrapped up in a particular way. One thing this format enables is the attaching of labels to them to create variables. Objects can have their own functions and variables, so you can have variables inside other variables. Objects generally do some particular job. 

We’ll talk about them more later.

# Variables
[Return to Table of Contents](#Table-of-Contents)

The following overview is for Base Python functions. List of Python built-in functions can be found at: https://docs.python.org/3/library/functions.html.

Unlike other programming languages, Python has no command for declaring a variable. Variables are the combination of an identifying label and a value, often a literal like 2 or "hello world". The label/identifier is attached to the value. A variable is created the moment you first assign a value to it. 

Variables are generally used to hold the result of calculations and user inputs. These are things we can't predict before the code is run. 

There is no need to declare any variable type before setting it. Python will detect the type (e.g., integer, float, string). They are called variables because you can change the value. Anything can be a variable in Python: 
- numbers, 
- strings, 
- functions,
- modules, 
- chunks of code, 
- etcetera.

In [3]:
x = 1
y = 3.4
z = 'UMBC'
show = "Game of Thrones"
Answer1 = True
Answer2 = False

In [4]:
# I can access the variable with the print function.
print(x) # With the cursor in the parenthesis Try "shift+tab" to access the print function documentation.

1

In [5]:
# I can access the "x" value by putting:
x # We will later note that the output of the print function is a Nonetype Object vs. in this case is an integer.

1

In [6]:
type(print(y))

3.4

NoneType

In [7]:
print(z)

UMBC

In [8]:
z

'UMBC'

In [9]:
print(show)

Game of Thrones

In [10]:
print(Answer1)

True

In [11]:
print(Answer2)

False

Note that x is an integer, y is a float, z and show are strings, and Answer1 and Answer2 are Booleans. To check we can use the type() function.

In [12]:
type(print(x))

1

NoneType

In [13]:
type(x)

int

In [14]:
type(y)

float

In [15]:
type(z)

str

In [16]:
type(Answer1)

bool

In [17]:
# We can get pretty creative with the print function and also do various functions within a cell:
print(f'Note that x is an {type(x)}, y is a {type(y)}, z is a {type(z)} and Answer1 is {type(Answer1)}')
# "f" above is a Formatted String Line.
# Alternatively the print above can also be:
print('Note that x is an ', type(x), ' , y is a ', type(y),' z is a ',type(z),' and Answer1 is ', type(Answer1), '\n')
# "\n" returns a new line.

# 'Not using the "f" treats it as a string:
print('Note that x is an {type(x)}, y is a {type(y)}, z is a {type(z)} and Answer1 is {type(Answer1)}')

Note that x is an <class 'int'>, y is a <class 'float'>, z is a <class 'str'> and Answer1 is <class 'bool'>
Note that x is an  <class 'int'>  , y is a  <class 'float'>  z is a  <class 'str'>  and Answer1 is  <class 'bool'>

Note that x is an {type(x)}, y is a {type(y)}, z is a {type(z)} and Answer1 is {type(Answer1)}

In [18]:
# Variables do not need to be declared with any particular type and can even change type after they have been set.
x = 1
x = 3.4125415
x = "Data Science"
print(x)

Data Science

In [19]:
# Note on double quotes and single quotes. The first three examples will work but the last will result in an error.
print("That is my car.")
print('That is my car.')
print("That's my car.")

That is my car.
That is my car.
That's my car.

In [20]:
# This example will result in a syntax error. Uncomment and run to see.
#print('That's my car.')

# Variable Naming Conventions and Naming Styles
[Return to Table of Contents](#Table-of-Contents)

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). 

Rules for Python variables naming:<br>
[1] A variable name must start with a letter or the underscore character;<br>
[2] A variable name cannot start with a number;<br>
[3] A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ); and<br>
[4] Variable names are case-sensitive (age, Age and AGE are three different variables)

There is no relationship between a variable's value or use and its name. In the last simple examples, a and b were fine, but generally you should name variables so you can tell what they are used for. In general, the more meaningful your names, the easier it will be to understand the code, when you come back to it, and the less likely you are to use the wrong variable.

Style conventions aren't syntax, but allow all coders to recognise what an element is. There's a styleguide for Python at:
https://www.python.org/dev/peps/pep-0008/ But it goes out of its way to avoid talking about variable names. 

The community preference seems to be for lowercase words to be joined with underscores: <b>snake_case</b>: perimeter_of_a_square

Though, where Python is working with C or other code, the more conventional <b>camelCase</b> is sometimes used:
perimeterOfASquare.

Either way, start with a lowercase letter, as other things start uppercase.

In [21]:
# Example of passing a function within a variable.
# In Python (but not all other languages), functions themselves are objects that can be given labels:
a = print
a("hello world")

hello world

In [22]:
# This makes it incredibly powerful: for example, we can pass one function into another (the core of functional programming).
# The function dir() return the list of names in the current local scope. 
# With an argument, attempt to return a list of valid attributes for that object.
dir(a)

['__call__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__self__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__text_signature__']

# Operations with Variables
[Return to Table of Contents](#Table-of-Contents)

In [23]:
# you can define multiple variables at once
y, z, asd = 100, 200.124, "Maryland"
print(y)
print(z)
print(asd)

100
200.124
Maryland

In [24]:
var1 = 'This is a String'

In [25]:
var2 = "This is also a String"  # Did you see the difference between this command and previouse one?

In [26]:
# what happens if we add them?
var1+var2

'This is a StringThis is also a String'

In [27]:
# what happens if we try this:
print(var1,'.',var2)

This is a String . This is also a String

In [28]:
var1, var2 = 1, 2

In [29]:
var1 / var2   # Regular division

0.5

In [30]:
var1 // var2  # Integer division – drop fraction

0

In [31]:
y = 100
x=y**2 # exponent 
print(x)

10000

In [32]:
y = 100.0
x=y**2 # exponent 
print(x)

10000.0

In [33]:
# Do you see the difference between the previous two lines?

In [34]:
# int and float results in float
1/2.0

0.5

In [35]:
#  Python can handle complex numbers as well
w = 3+4j
print(type(w))

<class 'complex'>

In [36]:
# Float can also be scientific numbers with an "e" to indicate the power of 10.
x = 1.1e3
print(x)

1100.0

In [37]:
# Python can handle Complex Numbers.
w = 3+4j
print(type(w))

<class 'complex'>

In [38]:
# Floats can also be scientify numbers with an "e" to indicate the power of 10.
x= 1.1e3
print(x)

1100.0

# CASTING: Specifying Data Type
[Return to Table of Contents](#Table-of-Contents)

There may be times when you want to specify a type on to a variable. This can be done with casting.

The function int() constructs an integer number from an integer literal, a float() literal (by rounding down to the previous whole number), or a string literal (providing the string represents a whole number).

In [39]:
x = int(1)   
y = int(2.8) 
z = int("3") 
print(x,y,z)

1 2 3

The function float() constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

In [40]:
x = float(1)    
y = float(2.8)   
z = float("3")   
w = float("4.2")
print(x,y,z,w)

1.0 2.8 3.0 4.2

The Function str() constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [41]:
x = str("s1") 
y = str(2)    
z = str(3.0)
w = str('Python Rocks')
print(x,y,z,w)

s1 2 3.0 Python Rocks

# Working With Strings
[Return to Table of Contents](#Table-of-Contents)

Note that Python stores strings as arrays of bytes representing unicode characters.

In [42]:
# Let's look at "w" more carefully, 
len(w)

12

In [43]:
print(w[0]) # Python is a zero index code. First position starts at 0 not 1.

P

In [44]:
print(w[1])

y

In [45]:
# You don't have to use the print function. However, note the difference, not using it returns a string.
w[-1]

's'

In [46]:
w[4:]

'on Rocks'

In [47]:
w[:5]

'Pytho'

In [48]:
print(w[6])

In [49]:
# There are so many great string functions in Python, which will be so useful for EDA.
# For example: strip(), removes any whitespace from the beginning or the end.
Name1 = "Albert Einstein"
Name2 = " Albert Einstein"
Name3 = "  Albert Einstein   "
print(Name1.strip())
print(Name2.strip())
print(Name3.strip())

Albert Einstein
Albert Einstein
Albert Einstein

In [50]:
# The lower() method returns the string in lower case:
Name1 = "Albert Einstein"
print(Name1.lower())

albert einstein

In [51]:
# The upper() method returns the string in upper case:
Name1 = "Albert Einstein"
print(Name1.upper())

ALBERT EINSTEIN

In [52]:
# Another very useful method is replace()
# The replace() method replaces a string with another string:
prices = "$100, $200, $87, $500"
print(prices.replace("$", "€"))

€100, €200, €87, €500

In [53]:
prices = "$100, $200, $87, $500"
print(prices.replace("$", ""))

100, 200, 87, 500

In [54]:
# Another super powerful method is split
# split() method splits the string into substrings if it finds instances of the separator.
prices = "$100, $200, $87, $500"
print(prices.split(","))
# Note the output here is new. Is a list of strings. We will be discussing about lists later on.

['$100', ' $200', ' $87', ' $500']

In [55]:
A_sentence = "I will go shopping today"
print(A_sentence.split(" "))

['I', 'will', 'go', 'shopping', 'today']

In [56]:
# If you try to combine a string and a number, Python will give you an error:
# If you need to combine a string and a number, then you'll need to convert numbers into strings
temperature = 74
z = "Baltimore"
print(z, 'is', str(temperature), "degrees Fahrenheit today.")

Baltimore is 74 degrees Fahrenheit today.

# Command-line String Input() Function
[Return to Table of Contents](#Table-of-Contents)

In [57]:
# Python allows for command line input. That means we are able to ask the user for input.
# What we need is the input() method
x = input(prompt = 'Enter your name: ')

Enter your name: Felix

In [58]:
print("Hello", x)

Hello Felix

# Python Operators
[Return to Table of Contents](#Table-of-Contents)

Python has many operators. This include those used for arithmetic operations.

In [59]:
x = 12.0
y = 2
addition = x+y
subtraction = x-y
multiplication = x*y
exponentitation = x**y
division = 12.4/y
floor_division = 12.4//y
modulus = 10%3
modulus2 = 10%3.0
print(addition, subtraction, multiplication, exponentitation, division, floor_division, modulus, modulus2)
# Note the difference between division and floor division!

14.0 10.0 24.0 144.0 6.2 6.0 1 1.0

In [60]:
# Augmented Assignment Operators are very useful operators for counting, indexing, etc.

In [61]:
x += 1 # Same as: x = x + 1 
x

13.0

In [62]:
x -= 1 # same as: x = x – 1
x

12.0

In [63]:
x *= 3 # same as: x = x * 3
x

36.0

In [64]:
x /= 3 # same as: x = x / 3
x

12.0

In [65]:
x //= 3 # same as: x = x // 3
x

4.0

In [66]:
x %= 3 # same as: x = x % 3
x

1.0

# Conditions, Logical Operators, If statements and Loops
[Return to Table of Contents](#Table-of-Contents)

Python supports the usual logical conditions from mathematics.

## Logical Operators

Python has various logical operators that allow to compare variables, numbers, classes. These include but is not limited toAND (&), OR (|), NOT (using ~), ==, <, >, =<, =>, !=, among many others.

In [67]:
# For example:
x == y

False

In [68]:
x != y

True

In [69]:
1 > 4

False

## Basics of a Script: Indentation
Python uses indents to indicate blocks of code – no brackets. See Sections on "If Statements" and "Loops" for examples.

## If Statements
If statements are used for handling decisions in comparisons, defined conditions or actions.

In [70]:
if x > y:
    print("x is greater than y.")
# Note nothing is returned.

In [71]:
if 4 < 6:
    print("The statement is true.")

The statement is true.

In [72]:
if x > y:
    print("x is greater than y.")
else:
    print("x is NOT greater than y.")

x is NOT greater than y.

## Loops
There are two main types of loops:
- For loops: iterate thru a known number of iterable items.
- While loops: iterates until certain condition is met.

When defining loops we tend to use i, j, and k for counters because in the first third generation language, FORTRAN, letters had to be used for certain variables, and certain types of number could only be assigned to certain letters. Integer values (whole numbers) could only be assigned to the letters from i (for integer) onwards. For this reason, people still use i, j, k for counting things (but not lowercase "L" -- it looks too much like a one).

In [73]:
# Indentation example
x = 1
y = 2
for i in (1, 2, 3):
    x = x + i
    y = y + i
    if x > y:
        print('Something is wrong!')
    print(x, y)
print('All done.')

2 3
4 5
7 8
All done.

# Modules, Packages, and Libraries
[Return to Table of Contents](#Table-of-Contents)

Note that Anaconda Distribution already included installation of many Python modules, packages and libraries. The full list can be found at https://docs.anaconda.com/anaconda/packages/pkg-docs/. Note that it varies per version of Anaconda Distribution.

Functions most of the time are loaded at the beginning of a Jupyter Notebook. We will talk about this more later.

In [74]:
# Can also import specific functions from a library.
from numpy import zeros # This imports the zeros function only.

In [75]:
zeros(5)

array([0., 0., 0., 0., 0.])

In [76]:
# To import and load a package you do the following.
import numpy as np # Note that many packages are defined as the abbreviation in this case np.
# The abbreviation can help save time in calling the library.

In [77]:
np.zeros(5)

array([0., 0., 0., 0., 0.])

In [78]:
# Some places may show the following when importing a module:
#from numpy import * 
# This imports all functions from in a module and can be dangereous and can affext the namespaces.

In [79]:
print(np.__version__) # This prints the version of the np library.

1.21.5

Python also makes installing packages easy in general using conda on the command line. To open the command line do a search on the application "Anaconda Prompt" (i.e., command line). You can use the following line to install a package: 
- "$conda install name_of_package"
    
Another method is to use Pythons PIP package manager. To install a pakcage using pip can be done from the Jupyter Notebook code cell using the following line of code:
- "pip install name_of_package"

PIP can also be used in the Anaconda Prompt command line. Conda access the Python index at Anaconda while the PIP access the index in the Python index site. We will talk about this more later.

# Alwasy remember to save your notebook!
In this class we will discuss how to use many libraries and their functions for each of the workflows in datascience.

[Return to Table of Contents](#Table-of-Contents)
# NOTEBOOK END