<a href="https://github.com/fgonzaleumbc/DATA601/blob/main/Homework/Homework_2/DATA601_Spring23_HW_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATA 601 - Spring 2023
### Homework Assignment 2

#### Due-date: Monday 2/20/2023 midnight.

Please Save a copy of this notebook to modify and submit your homework. Rename the file accordingly. If using Colab, "Open in Colab" link on the left top of this notebook to save a copy of this notebook to your "Colab Notebooks" under your Google Drive, and rename it. 

Please provide your solutions cells after each question. You can create new cells as needed. <br>

Please return your notebook by the due date via by emailing the grader and CC instructor.  as a *.ipynb file) via Blackboard. The name of your notebook should be in the following format: YourLastname_HW01.ipynb (e.g. Simsek_HW01.ipyn).

Make sure that your code is in a working condition when you restart the kernel. Notebooks are great tools for exploration but we should be very careful as we are writing codes.

<b>Intro:</b> For this homework, you will install a module called "names". Please visit [https://pypi.org/project/names/](https://pypi.org/project/names/) and see section "Python Package Usage" to learn how to use this module to create random names. To install and import this "names" module, we do the following

In [1]:
# To install "names" library Uncomment and run this cell to install the Names library.
#!pip install names

# After installing comment out the line above.

In [2]:
# After installation import the "names" library.
import names
from random import randint
from datetime import datetime

Q1. [<span style="color: red;"> 20 points</span>] After successful installation, import the module first, then use the "get_first_name" function in the "names" module and create a list of 8 first-names. Name of this list should be "fname". 
- Print your list and make sure that you indeed have 8 names in your list.
- (i) Remove the last "first-name" from your "fname" list. 
- (ii) Insert a new first-name between the first and second first-names in the list. 
- (iii) Remove the third "first-name". 
- (iv)  Generate three random first names, print them, and then add three first names at the end of your "fname" list using the "append" command.
- (v) Remove those last three first names. Create a secondary a list of first-names with three new first-names. Add these three at the end of your "fname" list with the "extend" method. Comment when we should use "append" and when we should use "extend".

In [3]:
# Q1
fnames = []
for i in range(8):
    fnames.append(names.get_first_name())
print(fnames)

['Rosa', 'Kimberly', 'Meagan', 'Belinda', 'Anna', 'Charles', 'Matthew', 'Lydia']

In [4]:
# We can also use a function that we use later.
def first_names_functions(number_names): 
    #global fnames_funct # Global variable can be called outside of function.
    fnames_funct = []
    for i in range(number_names):
        fnames_funct.append(names.get_first_name())
    return(fnames_funct)

In [5]:
fnames = first_names_functions(number_names = 8) 
# Could have defined fnames as global in the function and woulnd avoided this step.
# If defined as global we don't need the "fnames =" and can only call the function with the specified parameter.
print(fnames)

['Jason', 'Charles', 'Janet', 'Michael', 'Courtney', 'Julio', 'Glenn', 'Jene']

In [6]:
# Q1(i) # There are various ways to remove elements in a list.

# Option 1: Slicing Selection
fnames_opt1 = fnames.copy() # Copying list to show the method.
fnames_opt1 = fnames_opt1[:-1] # Using slicing, selects everything except the last name and redefine the variable.
fnames_opt1

['Jason', 'Charles', 'Janet', 'Michael', 'Courtney', 'Julio', 'Glenn']

In [7]:
# Option 2: Delete method.
fnames_opt2 = fnames.copy() # Copying list to show the method
del fnames_opt2[-1] # Deletes the last element from list.
fnames_opt2

['Jason', 'Charles', 'Janet', 'Michael', 'Courtney', 'Julio', 'Glenn']

In [8]:
# Option 3: Pop method.
fnames.pop(-1) # Deletes the last element from list. Pop removes by default the last element
fnames

['Jason', 'Charles', 'Janet', 'Michael', 'Courtney', 'Julio', 'Glenn']

In [9]:
# Q1(ii)
fnames.insert(1,names.get_first_name())
print(fnames)

['Jason', 'Orville', 'Charles', 'Janet', 'Michael', 'Courtney', 'Julio', 'Glenn']

In [10]:
# Q1(iii) Various methods. The Delete and Pop would be the same but changing the element index.
# Slicing is somewhat different. Let's do that.
fnames = fnames[:2]+fnames[3:] # First slice selects elements 0 and 1 and second slice 3 and above. 
fnames

['Jason', 'Orville', 'Janet', 'Michael', 'Courtney', 'Julio', 'Glenn']

In [11]:
# Q1(iv)
# Because we are generating first names using the created function we can take advantage of that to create three names.
fnames_2 = first_names_functions(number_names = 3) 
fnames_2

['Princess', 'Lanny', 'Albert']

In [12]:
fnames.append(fnames_2)
print(fnames)

['Jason', 'Orville', 'Janet', 'Michael', 'Courtney', 'Julio', 'Glenn', ['Princess', 'Lanny', 'Albert']]

In [13]:
len(fnames) # We can check our new list has 10 elements or 10 first names.
# Note that append added the three names as a list within a list.

8

In [14]:
# Lets remove the last list which contains the last three elements.
fnames = fnames[:-1]
fnames

['Jason', 'Orville', 'Janet', 'Michael', 'Courtney', 'Julio', 'Glenn']

In [15]:
# Q1(v)
fnames_2 = first_names_functions(number_names = 3) 
fnames = fnames + fnames_2 # We can reuse the initial fnames variable or create a new one.
print(fnames)

['Jason', 'Orville', 'Janet', 'Michael', 'Courtney', 'Julio', 'Glenn', 'Katherine', 'Troy', 'Mildred']

In [16]:
len(fnames)

10

In [17]:
# Append added the last three names as a list within a list.
# Extend added each name as its own element.

In [18]:
# Another method to add the lists could have been using the + operator and the two lists.
#fnames = fnames + fnames_2 # We can reuse the initial fnames variable or create a new one.

Q2. [<span style="color: red;">5 points</span>] Use the "get_last_name" function in the "names" module and create a list of 10 last names. Name it "lnames". Sort it alphabetically.

In [19]:
lnames = []
for i in range(10):
    lnames.append(names.get_last_name())
print(lnames)

['Weese', 'Schauble', 'Marks', 'Doak', 'Eason', 'Lewis', 'Gentry', 'Williams', 'Briel', 'Castillo']

In [20]:
len(lnames) # We got 10 last names.

10

In [21]:
lnames.sort()
print(lnames)

['Briel', 'Castillo', 'Doak', 'Eason', 'Gentry', 'Lewis', 'Marks', 'Schauble', 'Weese', 'Williams']

Q3. [<span style="color: red;">20 points</span>] For this step, you will use the "<code>randint</code>" function from the "<code>random</code>" module to create random integers. You can learn more about this module at [https://docs.python.org/3/library/random.html](https://docs.python.org/3/library/random.html). To import the "<code>randint</code>" function from the "<code>random</code>" module, please type <code> from random import randit</code> in a cell, and press shift+enter.

Then
 - (i) Create 10 random birth-years between 1950 and 2021. Name it "byears".
 - (ii) Create 10 random birth-months between 1 and 12. Name it "bmonths".
 - (iii) Create 10 random Credit-Scores between 100 and 800. Create a list of "CreditApproval" with "Yes" if the credit-score is higher than 650, "No" otherwise. Make sure that someone can't get a credit if they are 17 years old or younger, even if their credit-score is higher than 650.

In [22]:
# (i) Create 10 random birth-years between 1950 and 2021. Name it "byears".
byears = [randint(1950,2021) for i in range(10)]
byears

[2003, 1981, 2020, 1962, 1965, 1961, 1960, 1956, 2003, 1966]

In [23]:
#(ii) Create 10 random birth-months between 1 and 12. Name it "bmonths".
bmonths = [randint(1,12) for j in range(10)]
bmonths

[6, 6, 9, 10, 5, 8, 11, 8, 2, 6]

In [24]:
# (iii) Create 10 random Credit-Scores between 100 and 800
credit_score = [randint(100,800) for k in range(10) ]

BONUS QUESTION. [<span style="color: red;">5 points</span>] Create a dictionary for these 10 people with first-name, last-name (again, you will need to use the <code>names</code> module to create random first and last names), birth-year, birth-month, Credit, CreditApproval (e.g. [fname: Michael, lname: Jackson, byear: 1958, bmonth: 8, bday: 29, creditapproval:yes],[...])

The values of birth-year, birth-month, credit and credit approval can be any realistic values. Please document as a comment what you believe are realistic values for each of the categories.

In [47]:
person = {} # Blank dictionary.
person['fnames'] = fnames # Names key and list of names.
person['lnames'] = lnames # Names key and list of names.
person['byears'] = byears # Birth year.
person['bmonths'] = bmonths # Birth month.
person['credit_score'] = credit_score # Credit Scores
# We need to add a new key and corresponding list for age and credit approval.

In [48]:
person

{'fnames': ['Jason',
  'Orville',
  'Janet',
  'Michael',
  'Courtney',
  'Julio',
  'Glenn',
  'Katherine',
  'Troy',
  'Mildred'],
 'lnames': ['Briel',
  'Castillo',
  'Doak',
  'Eason',
  'Gentry',
  'Lewis',
  'Marks',
  'Schauble',
  'Weese',
  'Williams'],
 'byears': [2003, 1981, 2020, 1962, 1965, 1961, 1960, 1956, 2003, 1966],
 'bmonths': [6, 6, 9, 10, 5, 8, 11, 8, 2, 6],
 'credit_score': [377, 207, 125, 445, 552, 508, 175, 563, 550, 171]}

In [44]:
# To calculate the age could do a few approaches.
# 1 to define a new variable of current day manually and use it to substract from bmonth/byear to estimate age.
# 2 as done below using the datetime library to calculate the current date month/year
# 3 Even more advanced would be to use the actual birth date and substract from the current date.
# This woudl make the notebook dynamic as the days passes people who may be under 17 turn over 17.

In [67]:
# Let's calculate estimated age given year and month.
estimated_age_list = []
for i in range(len(person['fnames'])): # len(person['fname'] is the total number of people, in this case 10.
    estimated_age = int(datetime.today().strftime("%Y")) - person['byears'][i] # Substract current year and byear.
    # If bmonth is larger than current date's month the person has not had their bdate yet.
    if person['bmonths'][i] >= int(datetime.today().strftime("%m")):  
        estimated_age = estimated_age - 1 # If the birth month has still not passed this corrects the years of age.
    else:
        pass  
    estimated_age_list.append(estimated_age)
estimated_age_list

[19, 41, 2, 60, 57, 61, 62, 66, 20, 56]

In [68]:
person['estimated_age'] = estimated_age_list
person

{'fnames': ['Jason',
  'Orville',
  'Janet',
  'Michael',
  'Courtney',
  'Julio',
  'Glenn',
  'Katherine',
  'Troy',
  'Mildred'],
 'lnames': ['Briel',
  'Castillo',
  'Doak',
  'Eason',
  'Gentry',
  'Lewis',
  'Marks',
  'Schauble',
  'Weese',
  'Williams'],
 'byears': [2003, 1981, 2020, 1962, 1965, 1961, 1960, 1956, 2003, 1966],
 'bmonths': [6, 6, 9, 10, 5, 8, 11, 8, 2, 6],
 'credit_score': [377, 207, 125, 445, 552, 508, 175, 563, 550, 171],
 'estimated_age': [19, 41, 2, 60, 57, 61, 62, 66, 20, 56]}

In [80]:
credit_approval_list = []
for i in range(len(person['fnames'])):
    if person['estimated_age'][i] <= 17:
        credit_approval_list.append('No')
    if person['estimated_age'][i] > 17:
        if person['credit_score'][i] > 650:
            credit_approval_list.append('Yes')
        else:
            credit_approval_list.append('No')

In [81]:
credit_approval_list
# Should give the same outputs as the credit_approval_list below.

['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']

In [82]:
# More concise approach.
credit_approval_list = []
for i in range(len(person['fnames'])):
    if (person['estimated_age'][i] > 17) and (person['credit_score'][i] > 650):
        credit_approval_list.append('Yes')
    else:
        credit_approval_list.append('No')

In [83]:
credit_approval_list

['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No']

In [84]:
person['credit_approval'] = credit_approval_list

In [85]:
person

{'fnames': ['Jason',
  'Orville',
  'Janet',
  'Michael',
  'Courtney',
  'Julio',
  'Glenn',
  'Katherine',
  'Troy',
  'Mildred'],
 'lnames': ['Briel',
  'Castillo',
  'Doak',
  'Eason',
  'Gentry',
  'Lewis',
  'Marks',
  'Schauble',
  'Weese',
  'Williams'],
 'byears': [2003, 1981, 2020, 1962, 1965, 1961, 1960, 1956, 2003, 1966],
 'bmonths': [6, 6, 9, 10, 5, 8, 11, 8, 2, 6],
 'credit_score': [377, 207, 125, 445, 552, 508, 175, 563, 550, 171],
 'estimated_age': [19, 41, 2, 60, 57, 61, 62, 66, 20, 56],
 'credit_approval': ['No',
  'No',
  'No',
  'No',
  'No',
  'No',
  'No',
  'No',
  'No',
  'No']}

In [86]:
type(person) # Final check that this is a dictionary.

dict

# NOTEBOOK END.